body {
  font-weight: "POPPINS", sans-serif;
}
/* Header */
header {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  left: 10%;
  transform: translateX(-10%);
}

.navbar {
  gap: 450px;
}

.menu li .nav-link {
  margin: 0 15px;
  transition: all 0.5s;
  color: #ffffff !important;
  font-weight: 500;
}

.menu li:hover .nav-link {
  color: #fd4766 !important;
}

header .btn-buy {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 500px;
  border: 2px solid #ffffff;
  margin-left: 30px;
  letter-spacing: 2px;
  padding: 18px 0;
  z-index: 1;
  width: 170px;
}

.btn-buy:hover {
  border: 2px solid #fd4766 !important;
  background-color: #fd4766 !important;
  color: #ffffff;
  cursor: pointer;
}

/* Carausel */

/* .carousel {
  padding-top: 160px;
  padding-bottom: 160px;
  min-height: auto;
} */

.carousel-item {
  /* vh: độ cao tương đối */
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.carousel-item h3 {
  font-size: 100px;
  font-weight: bold;
}

.carousel-item p {
  font-size: 28px;
  font-weight: 400;
}

.carousel-item .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev i,
.carousel-control-next i {
  border-radius: 50%;
  border: 2px solid #ffffff;
  padding: 20px;
  font-size: 30px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10% !important;
}

.carousel-control-prev i:hover,
.carousel-control-next i:hover {
  border: 2px solid #fd4766;
  background-color: #fd4766;
  color: #ffffff;
}

.btn-contact {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
  margin-top: 50px;
}

.btn-contact a {
  text-decoration: none;
  color: #ffffff !important;
}

.btn-contact:hover {
  background-color: transparent;
}

.btn-contact:hover a {
  color: #fd4766 !important;
}

/* Page content */
.rounded_xl {
  border-radius: 0.6rem;
}

.hover_hidden {
  overflow: hidden;
}

.section_wrapper {
  width: 100%;
}

.section_container {
  padding-top: 90px;
  padding-bottom: 90px;
  margin-left: 55px;
  margin-right: 55px;
}

.intro_section {
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.subtitle_section {
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_section {
  font-size: 52px;
  font-weight: 500;
  text-transform: capitalize;
}

.description_section {
  font-size: 20px;
  font-weight: 400;
  color: #c6c6c6;
}

.content_section {
  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ticket-parent {
  position: relative;
}

.ticket {
  position: relative;
  transform: translateY(5px);
  transition: all 0.8s;
}

.ticket:hover {
  transform: translateY(0);
}
/* Company Project */

#companyServices .ticket {
  margin-top: 15px;
  padding: 45px;
  background-color: rgb(246, 246, 246);
  border-radius: 25px;
}

.icon_ticket {
  color: var(--color-primary);
  margin-bottom: 25px;
}

.tittle_ticket {
  font-size: 24px;
  font-weight: 600;
}

.card {
  margin-top: 45px;
}

/* About */
.about .row .thumbnail img {
  width: 100% !important;
  border-radius: 10px;
  margin-right: 15px;
}

.about .about-inner .about__title span {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .about-inner .about__title h2 {
  line-height: 1.3;
  margin-bottom: 35px;
  font-size: 50px;
  font-weight: 700;
}

.about .about-inner .about__title p {
  color: #6c757d;
  font-size: 18px;
  line-height: 30px;
}

.about .row .nav-about {
  flex-wrap: wrap;
  list-style: none;
  border: 1px solid #e6e6e6;
  border-radius: 50em;
}

.about .row .nav-about a {
  cursor: pointer;
  padding: 0.83333em 34px;
  margin: -1px -2px -1px;
  border-radius: 50em;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  color: #6c757d;
  border: 0 none;
  transition: 0.3s;
  text-decoration: none;
}

.about .row .nav-about a.active {
  background-color: #fd4766;
  color: #ffffff;
}

.about .row .tab-content .single-tab-content {
  padding-top: 30px;
}

.about .row .tab-content .single-tab-content ul {
  list-style: none;
  padding: 0 !important;
  margin-top: 15px;
}

.about .row .tab-content .single-tab-content ul li {
  color: #7e7e7e;
  font-size: 16px;
  line-height: inherit;
  margin-bottom: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.about .row .tab-content .single-tab-content ul li i {
  font-size: 18px;
  color: #fd4766;
  margin-right: 10px;
}

/* Client */

.bg_color--5 {
  background-color: #f9f9f9;
}
.ptb--120 {
  padding: 120px 0;
}

.mb--30 {
  margin-bottom: 30px;
}

.mt--40 {
  margin-top: 40px;
}

.section-title span.subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title h2.title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.section-title p {
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
  margin-bottom: 0;
}

.rn-brand-area .section-title {
  text-align: center;
}
.rn-brand-area .row ul {
  list-style: none;
  flex-wrap: wrap;
  padding: 0 !important;
  width: 1230px;
}

.rn-brand-area .row ul li {
  flex-basis: 33.33%;
  text-align: center;
  height: 214px;
  line-height: 214px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.5s;
}

.rn-brand-area .row ul li img {
  opacity: 0.8;
  transition: 0.3s;
  max-height: 110px;
  max-width: 150px;
}

.rn-brand-area .row ul li:hover {
  background-color: #fd4766;
  transform: scale(1.1);
  border-radius: 6px;
}

/* Footer */
footer {
  background: #010001;

  color: #757575;
}

.ptb--70 {
  padding: 70px 0;
}

footer .text-white {
  font-size: 36px;
  font-weight: 700;
}

footer .btn-default {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 25px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: transparent;
  border: 2px solid #343334;
  text-decoration: none;
}

footer .btn-default:hover {
  color: #343334;
  border-color: #fd4766;
  background-color: #fd4766;
}

footer a {
  color: #757575;
}

.text-lg-right {
  text-align: right !important;
}

.im-separator {
  position: relative;
}

.im-separator::after {
  position: absolute;
  content: "";
  background-color: #343334;
  max-width: 1230px;
  height: 1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.ft-text {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ft-text .logo {
  margin-bottom: 30px;
  margin-top: 30px;
}

.ft-text .logo a img {
  max-height: 60px;
  max-width: 100%;
}

.ft-text p {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

.ft-link {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ft-link li {
  font-size: 16px;
  padding: 5px 0;
}

.ft-link li a {
  position: relative;
  text-decoration: none;
}

.ft-link li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  padding-top: 5px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--color-primary) 79.69%
  );
}

.ft-link li a:hover {
  color: #fd4766;
}

.ft-link li a:hover::after {
  width: 100%;
}

.footer-link h4 {
  font-weight: 500;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 20px;
  padding: 30px 0;
}

.social-share {
  list-style: none;
  margin: -6px;
  padding: 0;
}

.social-share li {
  margin: 6px;
}

.social-share li a {
  border: 0 none;
  width: 30px;
  height: auto;
  text-align: left;
  line-height: inherit;
  font-size: 16px;
}

.mt--20 {
  margin-top: 20px;
}
